In [22]:
import psycopg2 as pgcon
import importlib
import Customer_c
import categories_c
from Customer_c import Customer
from order_c import Order
from product_sku_c import ProductSKU
from categories_c import Category
from product_c import Product
from order_item_c import OrderItem
from payment_types_c import PaymentType

In [21]:
importlib.reload(categories_c)

In [ ]:
print(Order.getall())
print(ProductSKU.getall())
print(Category.getall())
print(Product.getall())
print(OrderItem.getall())
print(PaymentType.getall())

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getall()
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function Add dữ liệu mới vào bảng Customer</h4>

In [ ]:
result = Customer.add_customer("John Doe", "hdajdn@yahoo.com", "0304567890", "123 Main St, City, Country")
print(result)

<h4>Function Lấy dữ liệu khách hàng bằng ID</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getbyID('CUST_000003')
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function lấy giá trị theo tên</h4>

In [4]:
result = Customer.update_customer("CUST_000007","John Doety", "hdajdn@yahoo.com", "0304967890", "123 Main St, City, Country")
print(result)

[SQL] SELECT update_customer('CUST_000007','John Doety','hdajdn@yahoo.com','0304967890','123 Main St, City, Country'); | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [(1,)]
[DEBUG] Commit thành công ✅
[(1,)]

<h1> Test các Function liên quan đến Category</h1>

<h4>Function lấy tất cả giá trị trong Category</h4>

In [23]:
# Lấy list Customer object
list_category = Category.getall()
# Convert sang pandas DataFrame
df_1 = Category.toPandas(list_category)

print(df_1)

[SQL] SELECT category_id, name, created_at, deleted_at IS NULL AS is_active FROM categories; | Params: None
[DEBUG] Rowcount sau execute: 5
[DEBUG] Fetchall: [(1, 'Electronics', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (2, 'Clothing', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (3, 'Home Appliances', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (4, 'Books', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (5, 'Sports', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True)]
[DEBUG] Commit thành công ✅
[SQL] SELECT category_id, name, created_at, deleted_at IS NULL AS is_active FROM categories; | Params: None
[DEBUG] Rowcount sau execute: 5
[DEBUG] Fetchall: [(1, 'Electronics', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (2, 'Clothing', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (3, 'Home Appliances', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (4, 'Books', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True), (5, 'Sports', datetime.datetime(2025, 8, 29, 2, 46, 9, 780730, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))), True)]
[DEBUG] Commit thành công ✅
   category_id             name                       created_at  deleted_at
0            1      Electronics 2025-08-29 02:46:09.780730+07:00        True
1            2         Clothing 2025-08-29 02:46:09.780730+07:00        True
2            3  Home Appliances 2025-08-29 02:46:09.780730+07:00        True
3            4            Books 2025-08-29 02:46:09.780730+07:00        True
4            5           Sports 2025-08-29 02:46:09.780730+07:00        True

<h4>Thêm category mới vào </h4>

In [ ]:
result = Category.add_product("Beverages")
print(result)

<h4>Soft-deleted category</h4>

<h4>update category</h4>

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>