In [56]:
import importlib
# import Customer_c
#import categories_c
import product_c
from Customer_c import Customer
from order_c import Order
from product_sku_c import ProductSKU
from categories_c import Category
from product_c import Product
from order_item_c import OrderItem
from payment_types_c import PaymentType

In [55]:
importlib.reload(product_c)

In [ ]:
print(Order.getall())
print(ProductSKU.getall())
print(Product.getall())
print(OrderItem.getall())
print(PaymentType.getall())

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getall()
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function Add dữ liệu mới vào bảng Customer</h4>

In [ ]:
result = Customer.add_customer("John Doe", "hdajdn@yahoo.com", "0304567890", "123 Main St, City, Country")
print(result)

<h4>Function Lấy dữ liệu khách hàng bằng ID</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getbyID('CUST_000003')
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function lấy giá trị theo tên</h4>

In [ ]:
result = Customer.update_customer("CUST_000007","John Doety", "hdajdn@yahoo.com", "0304967890", "123 Main St, City, Country")
print(result)

<h1> Test các Function liên quan đến Category</h1>

<h4>Function lấy tất cả giá trị trong Category</h4>

In [ ]:
# Lấy list Customer object
list_category = Category.getall()
# Convert sang pandas DataFrame
df_1 = Category.toPandas(list_category)

print(df_1)

<h4>Thêm category mới vào </h4>

In [ ]:
result = Category.add_category("Beverages")
print(result)

<h4>Soft-deleted category</h4>

In [ ]:
result = Category.soft_delete(5)
print(result)

<h4>update category</h4>

In [ ]:
result = Category.update_category(4, "Beverages and Drinks")
print(result)

<h1> Test các Function liên quan đến Product</h1>

<h4>Function lấy tất cả giá trị trong Product</h4>

In [19]:
result = Product.getall()
print(Product.to_pandas(result))

[SQL] SELECT p.product_id, p.name AS product_name,c.category_id, c.name AS category_name FROM products p JOIN categories c ON p.category_id = c.category_id; | Params: None
[DEBUG] Rowcount sau execute: 5
[DEBUG] Fetchall: [('PROD_00001', 'Smartphone', 1, 'Electronics'), ('PROD_00002', 'T-Shirt', 2, 'Clothing'), ('PROD_00003', 'Microwave Oven', 3, 'Home Appliances'), ('PROD_00004', 'Novel Book', 4, 'Books'), ('PROD_00005', 'Football', 5, 'Sports')]
[DEBUG] Commit thành công ✅
   product_id            name                                       category  \
0  PROD_00001      Smartphone      {'category_id': 1, 'name': 'Electronics'}
1  PROD_00002         T-Shirt         {'category_id': 2, 'name': 'Clothing'}
2  PROD_00003  Microwave Oven  {'category_id': 3, 'name': 'Home Appliances'}
3  PROD_00004      Novel Book            {'category_id': 4, 'name': 'Books'}
4  PROD_00005        Football           {'category_id': 5, 'name': 'Sports'}

                  created_at deleted_at  sku_count
0 2025-08-31 21:59:26.214665       None          0
1 2025-08-31 21:59:26.214684       None          0
2 2025-08-31 21:59:26.214689       None          0
3 2025-08-31 21:59:26.214693       None          0
4 2025-08-31 21:59:26.214696       None          0

<h4>Function lấy các giá trị product theo Category</h4>

In [24]:
result = Product.get_product_by_categories_id(1)
print(result)

[SQL] SELECT p.product_id, p.name AS product_name, c.name AS category_name FROM products p JOIN categories c ON p.category_id = c.category_id WHERE c.category_id = 1; | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('PROD_00001', 'Smartphone', 'Electronics')]
[DEBUG] Commit thành công ✅
[('PROD_00001', 'Smartphone', 'Electronics')]

<h4>Function tìm product theo id </h4>

In [28]:
result = Product.get_product_by_id("PROD_00001")
print(result)

[SQL] SELECT p.product_id, p.name AS product_name, c.name AS category_name FROM products p JOIN categories c ON p.category_id = c.category_id WHERE p.product_id = 'PROD_00001'; | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('PROD_00001', 'Smartphone', 'Electronics')]
[DEBUG] Commit thành công ✅
[('PROD_00001', 'Smartphone', 'Electronics')]

<h4>Function tìm product theo name</h4>

In [43]:
result = Product.get_product_by_name("Smartp")
print(result)

[SQL] SELECT p.product_id, p.name AS product_name, c.name AS category_name FROM products p JOIN categories c ON p.category_id = c.category_id WHERE p.name ILIKE '%Smartp%'; | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('PROD_00001', 'Smartphone Apple', 'Electronics')]
[DEBUG] Commit thành công ✅
[('PROD_00001', 'Smartphone Apple', 'Electronics')]

<h4>Function update product</h4>

In [42]:
result = Product.update_product('PROD_00001','Smartphone Apple',1)
print(result)

[SQL] select update_product('PROD_00001','Smartphone Apple',1) | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('',)]
[DEBUG] Commit thành công ✅
[('',)]

<h4>Function insert product</h4>

In [58]:
result = Product.add_product('Áo thun',1,'SKU101',199000,'Đen','L')
print(result)

[SQL] select insert_product('Áo thun',1,'SKU101',199000,'Đen','L') | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('PROD_00008',)]
[DEBUG] Commit thành công ✅
[('PROD_00008',)]

<h4>Function soft-delete product</h4>

In [44]:
result = Product.soft_delete('PROD_00001')
print(result)

[SQL] select soft_delete_product('PROD_00001') | Params: None
Lỗi kết nối hoặc truy vấn: Cannot delete product PROD_00001 because it still has active SKUs
CONTEXT:  PL/pgSQL function soft_delete_product(character varying) line 22 at RAISE

[DEBUG] Rollback do lỗi ❌
None

<h4> Function lấy tất cả các SKU của product</h4>

<h4>Function update SKU của product</h4>

<h4>Function insert thêm SKU vào product</h4>

<h4>Function Soft-delete SKU của product</h4>

<h4>Fuction lấy các product SKU theo khoảng giá</h4>

<h1> Test các Function liên quan đến Payment</h1>

<h4>Function lấy tất cả giá trị trong Payment</h4>

<h4>Function update name của Payment</h4>

<h4>Function insert vào Payment</h4>

<h1> Test các Function liên quan đến Order</h1>

<h4>Function lấy tất cả giá trị trong Order</h4>

<h4>Function lấy thông tin order theo ID</h4>

<h4>Function Thêm order mới</h4>