In [112]:
import importlib
# import Customer_c
#import categories_c
#import product_c
#import payment_types_c

from Model.pos_Database.Customer_c import Customer
from Model.pos_Database.order_c import Order
from Model.pos_Database.product_sku_c import ProductSKU
from Model.pos_Database.categories_c import Category
from Model.pos_Database.product_c import Product
from Model.pos_Database.order_item_c import OrderItem
from Model.pos_Database.payment_types_c import PaymentType

import Model.logistic_Database.warehouse_c
from Model.logistic_Database.warehouse_c import Warehouse
from Model.logistic_Database.Inventory_c import Inventory
from Model.logistic_Database.shipments_c import Shipment
from Model.logistic_Database.delivery_tracking_c import DeliveryTracking

from Model.erp_Database.account_c import Account
from Model.erp_Database.departments_c import Department
from Model.erp_Database.employee_c import Employee
from Model.erp_Database.financial_transaction_c import FinancialTransaction
from Model.erp_Database.purchase_order_item_c import PurchaseOrderItem
from Model.erp_Database.purchase_orders_c import PurchaseOrder
from Model.erp_Database.suppliers_c import Supplier

import Model.erp_Database.suppliers_c

In [111]:
importlib.reload(Model.erp_Database.suppliers_c)

In [ ]:
print(Order.getall())
print(ProductSKU.getall())
print(Product.getall())
print(OrderItem.getall())
print(PaymentType.getall())

<h1> Test các Function liên quan đến Customer</h1>

<h4>Function lấy tất cả giá trị trong Customer</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getall()
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function Add dữ liệu mới vào bảng Customer</h4>

In [61]:
result = Customer.add_customer("Josh Jotance 2", "hg8shbjdn@yahoo.com", "0354699878", "1235 Main St, City, Country")
print(result)

[SQL] SELECT insert_customer('Josh Jotance 2', 'hg8shbjdn@yahoo.com', '0354699878', '1235 Main St, City, Country'); | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('CUST_000018',)]
[DEBUG] Commit thành công ✅
CUST_000018

<h4>Function Lấy dữ liệu khách hàng bằng ID</h4>

In [ ]:
# Lấy list Customer object
customers = Customer.getbyID('CUST_000003')
# Convert sang pandas DataFrame
df = Customer.toPandas(customers)

print(df)

<h4>Function lấy giá trị theo tên</h4>

In [ ]:
result = Customer.update_customer("CUST_000007","John Doety", "hdajdn@yahoo.com", "0304967890", "123 Main St, City, Country")
print(result)

<h1> Test các Function liên quan đến Category</h1>

<h4>Function lấy tất cả giá trị trong Category</h4>

In [ ]:
# Lấy list Customer object
list_category = Category.getall()
# Convert sang pandas DataFrame
df_1 = Category.toPandas(list_category)

print(df_1)

<h4>Thêm category mới vào </h4>

In [ ]:
result = Category.add_category("Beverages")
print(result)

<h4>Soft-deleted category</h4>

In [ ]:
result = Category.soft_delete(5)
print(result)

<h4>update category</h4>

In [ ]:
result = Category.update_category(4, "Beverages and Drinks")
print(result)

<h1> Test các Function liên quan đến Product</h1>

<h4>Function lấy tất cả giá trị trong Product</h4>

In [ ]:
result = Product.getall()
print(Product.to_pandas(result))

<h4>Function lấy các giá trị product theo Category</h4>

In [ ]:
result = Product.get_product_by_categories_id(1)
print(result)

<h4>Function tìm product theo id </h4>

In [ ]:
result = Product.get_product_by_id("PROD_00001")
print(result)

<h4>Function tìm product theo name</h4>

In [ ]:
result = Product.get_product_by_name("Smartp")
print(result)

<h4>Function update product</h4>

In [ ]:
result = Product.update_product('PROD_00001','Smartphone Apple',1)
print(result)

<h4>Function insert product</h4>

In [ ]:
result = Product.add_product('Áo thun',1,'SKU101',199000,'Đen','L')
print(result)

<h4>Function soft-delete product</h4>

In [ ]:
result = Product.soft_delete('PROD_00001')
print(result)

<h4> Function lấy tất cả các SKU của product</h4>

In [ ]:
result = ProductSKU.getall()
print(ProductSKU.toPandas(result))

<h4>Function lấy tất cả SKU theo product_id</h4>

In [ ]:
result = ProductSKU.getSkuByProductId('PROD_00001')
print(ProductSKU.toPandas(result))

<h4>Function update SKU của product</h4>

In [ ]:
result = ProductSKU.update_SKU(14,'SKU_SMART_003',599.9,'Gray','256GB')
print(result)

<h4>Function insert thêm SKU vào product</h4>

In [ ]:
result = ProductSKU.insert_SKU('SKU_SMART_004','PROD_00001',599.9,'White','256GB')
print(result)

<h4>Function Soft-delete SKU của product</h4>

In [ ]:
result = ProductSKU.soft_deleted(14)
print(result)

<h4>Fuction lấy các product SKU theo khoảng giá</h4>

In [ ]:
result = ProductSKU.searchByRange(17,30)
print(result)

<h1> Test các Function liên quan đến Payment</h1>

<h4>Function lấy tất cả giá trị trong Payment</h4>

In [ ]:
result= PaymentType.getall()
print(PaymentType.toPandas(result))

<h4>Function update name của Payment</h4>

In [ ]:
result = PaymentType.update_payment(6,'Test 2')
print(result)

<h4>Function insert vào Payment</h4>

In [ ]:
result = PaymentType.insert_payment('Test')
print(result)

<h1> Test các Function liên quan đến Warehouse</h1>

<h4>Function lấy tất cả giá trị trong Warehouse</h4>

In [ ]:
result= Warehouse.getall()
print(Warehouse.toPandas(result))

<h4>Function insert dữ liệu vào bảng warehouse</h4>

In [ ]:
result = Warehouse.add_warehouse('Kho Hà Nội', 'Hà Nội, Việt Nam')
print(result)

<h4>Function update dữ liệu vào bảng warehouse</h4>

In [ ]:
result = Warehouse.update_warehouse(5,'Kho Hà Nội 2', 'Hà Nội, Việt Nam')
print(result)

<h4>Function soft_delete dữ liệu trong bảng</h4>

In [ ]:
result = Warehouse.soft_delete_warehouse(7)
print(result)

<h1> Test các Function liên quan đến Account</h1>

<h4>Function lấy tất cả giá trị trong Account</h4>

In [ ]:
result= Account.getall()
print(Account.toPandas(result))

<h4>Function insert dữ liệu mới vào account</h4>

In [ ]:
result = Account.insert_account('Main Account', 'Savings')
print(result)

<h4>Function update dữ liệu mới vào account</h4>

In [ ]:
result = Account.update_account(1,'Cash account', 'asset')
print(result)

<h1> Test các Function liên quan đến Departments</h1>

<h4>Function lấy tất cả giá trị trong Departments</h4>

In [ ]:
result = Department.getall()
print(Department.toPandas(result))

<h4>Function insert dữ liệu Department</h4>

In [ ]:
result = Department.insert_department('PR')
print(result)

<h4>Function update dữ liệu Department</h4>

In [ ]:
result = Department.update_department(4, 'Fintech')
print(result)

<h1> Test các Function liên quan đến Employee</h1>

<h4>Function lấy tất cả giá trị trong Employee</h4>

In [ ]:
result = Employee.getall()
print(Employee.toPandas(result))

<h4>Function insert dữ liệu Employee</h4>

In [ ]:
result = Employee.insert_employee('Nguyen Van A', 'a@example.com', 1,  1200.00,'now()')
print(result)

<h4>Function update dữ liệu Employee</h4>

In [ ]:
result = Employee.update_employee('EMP_0010','Nguyen Van A', 'a@example.com', 1,  1200.00)
print(result)

<h4>Function soft-delete dữ liệu Employee</h4>

In [ ]:
result = Employee.soft_delete_employee('EMP_0010')
print(result)

<h1> Test các Function liên quan đến Suppliers</h1>

<h4>Function lấy tất cả giá trị trong Suppliers</h4>

In [88]:
result = Supplier.getall()
print(Supplier.toPandas(result))

[SQL]
            SELECT supplier_id, name, contact_name, phone, email, created_at
            FROM suppliers WHERE deleted_at IS NULL;
         | Params: None
[DEBUG] Rowcount sau execute: 5
[DEBUG] Fetchall: [(1, 'Supplier A', 'John Doe', <memory at 0x0000025E7C4044C0>, <memory at 0x0000025E7C4041C0>, datetime.datetime(2025, 7, 14, 0, 1, 54, 99035, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))), (2, 'Supplier B', 'Jane Doe', <memory at 0x0000025E7C4047C0>, <memory at 0x0000025E7C404280>, datetime.datetime(2025, 7, 24, 0, 1, 54, 99035, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))), (3, 'Supplier C', 'Mike Ross', <memory at 0x0000025E7C404640>, <memory at 0x0000025E7C404880>, datetime.datetime(2025, 8, 3, 0, 1, 54, 99035, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))), (4, 'Supplier D', 'Rachel Z', <memory at 0x0000025E7C404940>, <memory at 0x0000025E7C404A00>, datetime.datetime(2025, 8, 13, 0, 1, 54, 99035, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200)))), (5, 'Supplier E', 'Harvey S', <memory at 0x0000025E7C404AC0>, <memory at 0x0000025E7C404B80>, datetime.datetime(2025, 8, 23, 0, 1, 54, 99035, tzinfo=datetime.timezone(datetime.timedelta(seconds=25200))))]
[DEBUG] Commit thành công ✅
   supplier_id        name contact_name  \
0            1  Supplier A     John Doe
1            2  Supplier B     Jane Doe
2            3  Supplier C    Mike Ross
3            4  Supplier D     Rachel Z
4            5  Supplier E     Harvey S

                                               phone  \
0  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
1  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
2  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
3  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
4  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...

                                               email  \
0  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
1  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
2  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
3  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...
4  [b'\xc3', b'\r', b'\x04', b'\x07', b'\x03', b'...

                        created_at deleted_at
0 2025-07-14 00:01:54.099035+07:00       None
1 2025-07-24 00:01:54.099035+07:00       None
2 2025-08-03 00:01:54.099035+07:00       None
3 2025-08-13 00:01:54.099035+07:00       None
4 2025-08-23 00:01:54.099035+07:00       None

<h4>Function insert dữ liệu vào supplier</h4>

In [100]:
result = Supplier.insert_supplier('ABC Co', 'John Doe', '0123456789', 'john@abc.com')
print(result)

[SQL] Select insert_supplier('ABC Co','John Doe','0123456789','john@abc.com'); | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [(6,)]
[DEBUG] Commit thành công ✅
[(6,)]

<h4>Function update dữ liệu vào supplier</h4>

In [107]:
result = Supplier.update_supplier(1,'ABC Co', 'John Doey', '0123456789', 'john@abc.com')
print(result)

[SQL] Select update_supplier(1,'ABC Co','John Doey','0123456789','john@abc.com'); | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('',)]
[DEBUG] Commit thành công ✅
[('',)]

<h4>Function soft-delete vào supplier</h4>

In [113]:
result = Supplier.soft_delete_supplier(1)
print(result)

[SQL] Select soft_delete_supplier(1); | Params: None
[DEBUG] Rowcount sau execute: 1
[DEBUG] Fetchall: [('',)]
[DEBUG] Commit thành công ✅
[('',)]

<h1> Test các Function liên quan đến Order</h1>

<h4>Function lấy tất cả giá trị trong Order</h4>

<h4>Function lấy thông tin order theo ID</h4>

<h4>Function Thêm order mới</h4>